@charset "UTF-8";
h1{
	text-align: center;
	color: burlywood;
}

p{
	text-align: center;
}

form{
	text-align: center;
}

nav{
	width: fit-content;
	margin: auto;
}
nav >ul{
	padding-left: 0;
}
nav >ul >li{
	list-style: none;
}

nav >ul >li a{
	color: black;
}

nav >ul >li a:hover{
	color: burlywood;
	text-decoration: none;
}

img{
	margin: auto;
	display: block;
}