@charset "UTF-8";
body{
	background-color: white;
}
h1{
	text-align: center;
}

p{
	text-align: center;
}

form{
	text-align: center;
}

nav{
	width: fit-content;
	margin: auto;
}
nav >ul{
	padding-left: 0;
}
nav >ul >li{
	list-style: none;
}

img{
	margin: auto;
	display: block;
}